Package: siakhooi-devutils
Version: 1.0.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: siakhooi-devutils-echo-colors, siakhooi-devutils-date-formats
Architecture: amd64
Homepage: <https://github.com/siakhooi/bash-devutils>
Description: parent package for all siakhooi-devutils-* packages.
